version: "3.9"

services:
  nextjs:
    build: .
    ports:
      - "3000:3000"
    networks:
      - app-network
    restart: always
  nginx:
    image: nginx:1.19-alpine
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs/nginx-selfsigned.crt:/etc/nginx/certs/nginx-selfsigned.crt:ro
      - ./nginx/certs/nginx-selfsigned.key:/etc/nginx/certs/nginx-selfsigned.key:ro
    depends_on:
      - nextjs
networks:
  app-network:
    driver: bridge
